$green: rgb(58,169,53) ;

body {
  margin: 0;
  font-family: 'Dongle', sans-serif;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  .labels {
    float: left;
    label {
      margin-bottom: .4em;
      margin-right: 0.5em;
      display: block;
    }
  }
  .inputs {
    input {
      display: block;
    }
  }
}

button {
  background-color: $green;
  color: white;
  border-radius: 10px;
  margin-top: .5em;
  border-color: $green;

  &.delete {
    background-color: red;
    border-color: red
  }
}

i {
  margin-left: .3em;
  margin-right: .3em;
}

.nav-bar {
  padding-bottom: 2em;

  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: $green;  
      
      li {
          float: left;

          a {
              display: block;
              font-weight: 1000;
              font-size: large;
              color: white;
              text-align: center;
              margin: 14px 16px;
              text-decoration: none;

              &.is-active {
                  border-bottom: 2px solid $green;
              }
        }
      }
  }
}